
@font-face {
  font-family: "Poppins";
  src: local("Poppins-Light"),
   url("./fonts/Poppins-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
   url("./fonts/Poppins-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Medium"),
   url("./fonts/Poppins-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
   url("./fonts/Poppins-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Italic"),
   url("./fonts/Poppins-Italic.ttf") format("truetype");
   font-weight: 250;
   font-style: italic;
   font-stretch: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

